// Color specifications
$twilight: #0d0628;
$almost_twilight: #9a348e;
$neutral: #da627d;
$light: #fca17d;
$bright: #f9dbbd;

$white: #fcfcfc;
$black: #1B2021;

$gray_purple: #271F30;

body {
  background: $white;
  color: $black;
}