html,
body {
  background-color: #1B2021;
  font-family: 'source-sans-pro', 'Segoe UI', 'Myriad Pro', Helvetica, Tahoma, sans-serif;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

body::-webkit-scrollbar {
  width: 8px; }

body::-webkit-scrollbar-track {
  background: #eee;
  border-radius: 5px; }

body::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 5px; }

/*
* Typography
*/
p {
  line-height: 1.6; }

.preview p {
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  color: #444;
  font-family: 'source-sans-pro', 'Segoe UI', 'Myriad Pro', Helvetica, Tahoma, sans-serif; }

.preview h1,
.preview h2,
.preview h3,
.preview h4,
.preview h5,
.preview h6 {
  color: #181818;
  font-family: "Georgia", "Times New Roman", serif;
  font-weight: normal; }

h1, h2, h3,
.h1, .h2, .h3 {
  font-weight: 200; }

h4, h5, h6,
.h4, .h5, .h6 {
  font-weight: 600; }

.content h3,
.content .h3 {
  font-weight: 600; }

a:hover {
  text-decoration: none; }

a,
header.homepage a,
nav.top-nav a,
.sidebar .nav-vertical li a,
footer p a,
.features img,
footer .line.list-inline li {
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; }

small, .small {
  font-size: 14px;
  font-size: 0.9rem; }

.preview small,
.preview .small {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 2; }

h1 {
  color: #f9dbbd;
  margin-bottom: 0px; }

.header {
  margin-top: 0.5em;
  margin-bottom: .5em; }

.stripes_large {
  position: relative; }
  .stripes_large:before, .stripes_large:after {
    position: absolute;
    content: '';
    height: .5em;
    top: 0;
    left: 0;
    right: 0; }
  .stripes_large:after {
    top: auto;
    bottom: 0; }
  .stripes_large:before {
    background: linear-gradient(90deg, #1b0d54 21.45095%, #9a348e 21.45095%, #9a348e 39.81731%, #da627d 39.81731%, #da627d 63.30166%, #fca17d 63.30166%, #fca17d 77.56755%, #f9dbbd 77.56755%); }
  .stripes_large:after {
    background: linear-gradient(90deg, #1b0d54 23.24091%, #9a348e 23.24091%, #9a348e 38.28854%, #da627d 38.28854%, #da627d 58.69001%, #fca17d 58.69001%, #fca17d 74.63757%, #f9dbbd 74.63757%); }

.striped_top {
  position: relative; }
  .striped_top:before {
    position: absolute;
    content: '';
    height: .5em;
    top: 0;
    left: 0;
    right: 0; }
  .striped_top:before {
    background: linear-gradient(90deg, #1b0d54 18.89439%, #9a348e 18.89439%, #9a348e 42.86506%, #da627d 42.86506%, #da627d 51.06429%, #fca17d 51.06429%, #fca17d 80.79432%, #f9dbbd 80.79432%); }

.main,
.content {
  min-height: 750px; }

.main {
  z-index: 0;
  padding: 0.1em; }

.content,
.sidebar {
  z-index: 1;
  padding: 1em; }

.content {
  background: #0d0628;
  color: #fcfcfc; }

.twilight,
.almost-twilight,
.neutral,
.light,
.bright {
  margin-bottom: 14px;
  width: 100%; }

.night {
  background: #0d0628;
  color: #fcfcfc;
  padding: 2em;
  padding-bottom: 0.7em;
  border: solid 1px #271278;
  border-top: 0px;
  /*
      &:hover {
          background: lighten($night, 10%)
      }
  */
  -webkit-box-shadow: 0px 9px 0px #070316;
  -moz-box-shadow: 0px 9px 0px #070316;
  box-shadow: 0px 9px 0px #070316; }

.twilight {
  background: #1b0d54;
  border: solid 1px #3519a3;
  -webkit-box-shadow: 0px 9px 0px #150a42;
  -moz-box-shadow: 0px 9px 0px #150a42;
  box-shadow: 0px 9px 0px #150a42; }
  .twilight:hover {
    background: #291480; }

.almost-twilight {
  background: #9a348e;
  border: solid 1px #c960bd;
  -webkit-box-shadow: 0px 9px 0px #8b2f80;
  -moz-box-shadow: 0px 9px 0px #8b2f80;
  box-shadow: 0px 9px 0px #8b2f80; }
  .almost-twilight:hover {
    background: #bf42b0; }

.neutral {
  background: #da627d;
  border: solid 1px #ecacbb;
  -webkit-box-shadow: 0px 9px 0px #d6516f;
  -moz-box-shadow: 0px 9px 0px #d6516f;
  box-shadow: 0px 9px 0px #d6516f; }
  .neutral:hover {
    background: #e48b9f; }

.light {
  background: #fca17d;
  border: solid 1px #fee2d7;
  -webkit-box-shadow: 0px 9px 0px #fc9369;
  -moz-box-shadow: 0px 9px 0px #fc9369;
  box-shadow: 0px 9px 0px #fc9369; }
  .light:hover {
    background: #fdc5af; }

.bright {
  background: #f9dbbd;
  border: solid 1px white;
  color: #1B2021;
  -webkit-box-shadow: 0px 9px 0px #f7d1aa;
  -moz-box-shadow: 0px 9px 0px #f7d1aa;
  box-shadow: 0px 9px 0px #f7d1aa; }
  .bright:hover {
    background: #fdf5ec; }

.minecraft {
  width: 100%;
  padding: 0.7em; }

.grass {
  background: #8fb339; }

.dirt {
  background: #513b3c; }

.breadcrumbs {
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: 1.84615;
  margin: 12px 0;
  padding: 5px 15px 5px 0; }

.breadcrumbs li {
  display: inline;
  margin-right: 10px; }

.breadcrumbs li:last-child {
  margin-right: 0px; }

.breadcrumbs li:after {
  content: "/";
  color: #ccc;
  padding-left: 12px;
  vertical-align: middle; }

.breadcrumbs li:last-child {
  color: #999; }

.breadcrumbs li:last-child a {
  color: #999; }

.breadcrumbs li:last-child:after {
  content: ""; }

blockquote {
  border-left: 1px solid #ddd;
  color: #777;
  font-style: italic;
  margin: 1em 2em;
  padding-left: 1em;
  text-align: left; }

blockquote cite {
  color: #555;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 1.71429; }

blockquote cite:before {
  content: "\2014 \0020"; }

blockquote cite a {
  color: #555; }

blockquote cite a:visited {
  color: #555; }

blockquote.blockquote-reverse {
  border-left: none;
  border-right: 1px solid #ddd;
  padding: 0 1em 0 0;
  text-align: right; }

.alert {
  color: #fca17d; }

.alert_author {
  color: #f9dbbd; }

/*# sourceMappingURL=theme.css.map */
