{%  extends "layout.html" %}

{% block title %}{{ super() }} | Hub{% endblock %}

{% block header %}
    <div class="row header">
        <div class="column-10">
              <h1 class="float-left">Sages of Twilight | Hub</h1>
        </div>
        <div class="column-6">
            <div class="">
                <nav class="nav-responsive">
                    <ul class="list-inline">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Staff</a></li>
                        <li><a href="#">Games</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="main">
            <div class="column-11 content">test</div>
            <div class="column-5 sidebar">
                <div>
                    <ul class="list-unstyled ">
                        <li><a class="btn btn-large twilight" href="#">Home</a></li>
                        <li><a class="btn btn-large almost-twilight" href="#">About</a></li>
                        <li><a class="btn btn-large neutral" href="#">Staff</a></li>
                        <li><a class="btn btn-large light" href="#">Games</a></li>
                        <li><a class="btn btn-large bright" href="#">Contact</a></li>
                    </ul>
                </div>
                <div class="section">
                    <ul class="list-unstyled">
                        <li class="btn minecraft grass">Minecraft Network</li>
                        <li class="btn minecraft dirt">
                            Lobby: 0/96 online
                        </li>
                        <li class="btn minecraft dirt">
                            Vanilla: 0/96 online
                        </li>
                        <li class="btn minecraft dirt">
                            Diamond: 0/96 online
                        </li>
                        <li class="btn minecraft dirt">
                            PVP: 0/96 online
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
