<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% block title %}Sages of Twilight{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/concise.css" />
</head>
<body>
    <div class="container">
    <!-- header content section -->
        <div class="row">
            <div class="column-16">{% block header %}{%  endblock %}</div>
        </div>

    <!-- main content section -->
        <div class="row">
            <div class="column-16">{% block content %}{%  endblock %}</div>
        <div>
    </div>
</body>
</html>
